<link rel="stylesheet" type="text/css" href="~/css/disciplina.css">
<section id="topo">
    <div class="topo">
        <h3>Edu Station</h3>
        <h1>Direção Workstation</h1>
        <nav class="icone">
            <ul>
                <li>
                    <img src="~/img/icon.png">
                    <ul class="icon">
                        <li><a href="#" id="alterar">Alterar</a></li>
                        <li><a href="#" id="exit">Exit</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</section>
<div class="disciplina">
    <h2>Cadastro Disciplina</h2>
    <form>
        <p>Digite a disciplina: </p>
        <input type="text" name="">
        <p>Data de criação: </p>
        <input type="date" name="">
        <input type="submit" name="" value="Criar">
    </form>

</div>