<section id="topo">
    <div class="topo">
        <h3>Edu Station</h3>
        <h1>Direção Workstation</h1>
        <nav class="icone">
            <ul>
                <li>
                    <img src="img/icon.png">
                    <ul class="icon">
                        <li><a href="#" id="alterar">Alterar</a></li>
                        <li><a href="#" id="exit">Exit</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</section>
<div class="turma">
    <h2>Turma</h2>
    <form>
        <p>Digite o nome da turma: </p>
        <input type="text" name="">
        <p>Ano: </p>
        <input type="text" name="">
        <p>Data de criação: </p>
        <input type="date" name="">
        <input type="submit" name="" value="Vincular Docentes">
        <input type="submit" name="" value="Vincular Alunos">
        <input type="submit" name="" value="Criar">
    </form>

</div>