<link rel="stylesheet" type="text/css" href="~/css/docente.css">
<section id="topo">
    <div class="topo">
        <h3>Edu Station</h3>
        <h1>Direção Workstation</h1>
        <nav class="icone">
            <ul>
                <li>
                    <img src="~/img/icon.png">
                    <ul class="icon">
                        <li><a href="#" id="alterar">Alterar</a></li>
                        <li><a href="#" id="exit">Exit</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</section>
<div class="docente">
    <h2>Cadastro Docente</h2>
    <form>
        <p>Nome: </p>
        <input type="text" name="">
        <p>CPF: </p>
        <input type="text" name="">
        <p>Data de nascimento: </p>
        <input type="date" name="">
        <p>Email: </p>
        <input type="text" name="">
        <p>Senha temporaria: </p>
        <a href="#">gerar senha </a>
        <input type="submit" name="" value="Criar usuário">
    </form>

</div>